<html>
    <head><
      <h1> Pratik- ASP.Net Core Empty</h1>  

    </head>
    <body>
    <h4>Bu pratikte, bir ASP.NET Core Empty projesi oluşturup, projedeki yapıları MVC tasarım desenine uygun olarak yapılandırmanız beklenmektedir.</h4>

    <h3>Aşağıdaki yapıların eklenmesini ve konfigüre edilmesini sağlayınız:</h3>
    <ol>
        <li>
            Controllers Klasörü:

            Controllers adında bir klasör oluşturun.
        </li>
        <li>
            Models Klasörü:

            Models adında bir klasör oluşturun.
        </li>
        <li>
            Views Klasörü:

            Views adında bir klasör oluşturun.
        </li>
        <li>
            wwwroot Klasörü:

            wwwroot adında bir klasör oluşturun.
        </li>
    </ol>
        <h4>Sonrasında, Program.cs dosyasını kullanarak aşağıdaki yapılandırma işlemlerini gerçekleştiriniz:</h4>
        <ol>
            <li>
                MVC Servislerinin Eklenmesi:

                MVC uygulama özelliklerini etkinleştirmek ve hem view'leri hem de controller'ları kullanabilmek için gerekli servisleri ekleyiniz.
            </li>
            <li>
                Statik Dosyaların Kullanımının Belirtilmesi:

                wwwroot klasöründe bulunan statik dosyaların kullanılmasını sağlayacak konfigürasyonları ekleyiniz.

            </li>
            <li>
                Routing Konfigürasyonu:

                Tarayıcıdan gelen isteklerin doğru şekilde yönlendirilmesini sağlamak amacıyla routing yapılandırmasını tamamlayınız.
            </li>
            <li>
                Varsayılan Routing:

                Anasayfanız için bir varsayılan routing yapılandırması ekleyiniz.
            </li>
        </ol>
        <h4>Controller - Action - Model -  View - Razor - RazorView - wwwroot kavramlarının ve builder.Build() - app.Run() metotlarının ne işe yaradıklarını,  hangi amaçla kullanıldıklarını Program.cs'in en alt kısmında yorum satırı olarak açıklayınız.</h4>
    
    </body>
</html>